@inject ItemRepository _itemRepo;

@using ShoppingListUIBlazor.Utilities;

<p class="text-secondary lead">
    <span class="text-primary fw-bold">"</span>
    In de keuken ligt een leeg boodschappenlijstje klaar,<br>
    Geen woord geschreven, wat is dit raar.<br>
    Geen melk, geen brood, geen appels of rijst,<br>
    Maar in mijn hart ontstaat een idee, dat er iets mist in deze lijst.<br>
    <br>
    Dus ik vraag aan jou, lieve vriend of vriendin,<br>
    Wat zou jij graag toevoegen, wat moet erin?<br>
    Een verrassing voor de smaakpapillen, een lekkernij,<br>
    Laat me weten wat jij wilt, en ik schrijf het erbij.
    <span class="text-primary fw-bold">"</span>
</p>

<input @bind="newItemContents" class="mb-3 form-control" />
<button class="no-style btn btn-success mb-3 me-3" @onclick='AddInitialItem'>
    <i class="bi bi-bag-check"></i> Toevoegen
</button>


@code {
    [Parameter, EditorRequired]
    public Guid ListId { get; set; }

    string newItemContents = "";

    async Task AddInitialItem()
    {
        await _itemRepo.CreateFromContent(newItemContents, ListId);
    }
}
