button {
    border: solid 2px gray;
    border-radius: 5px;
    padding: .7em 1.1em;
    margin-bottom: 0.7em;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

button span.oi {
    margin-right: 10px;
    font-size: 1.3em;
}

    button.checked {
        border-color: firebrick;
        background: #b2222217;
    }

.oi-circle-x {
    color: firebrick;
}

i {
    font-size: 1.25rem;
}
