- name: "Create {{ APP_USER }} user"
  tags: create_user
  hosts: all
  become: true
  vars_files:
    - ./variables.yml
  tasks:
    - name: "create {{ APP_USER }} group"
      group:
        name: "{{ APP_USER }}"
        state: present

    - name: "Create {{ APP_USER }} user"
      user:
        name: "{{ APP_USER }}"
        comment: user for running the shoppinglist application inside the container
        groups: "{{ APP_USER }}"
        shell: /usr/sbin/nologin
        password: '!'


    - name: "Get user id of {{ APP_USER }}"
      command: "id -u {{ APP_USER }}"
      register: USER_ID
      changed_when: false
    
    - set_fact:
        USER_ID: "{{ USER_ID.stdout }}"

    - name: "Get group id of {{ APP_USER }}"
      command: "id -g {{ APP_USER }}"
      register: USER_GROUP_ID
      changed_when: false

    - set_fact:
        USER_GROUP_ID: "{{ USER_GROUP_ID.stdout }}"

- name: Setup docker compose
  tags: run_container
  hosts: all
  become: true
  vars_files:
    - ./variables.yml
  tasks:
    - name: Template files
      template:
        src: "{{ item.src }}"
        dest: "/apps/{{ APP_USER }}/{{ item.dest }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: u=r,g=,o=
        force: true
      loop:
        - { src: docker-compose.yml.j2, dest: docker-compose.yml }
        - { src: postgres-password.txt.j2, dest: postgres-password.txt }

    - name: Setting permissions of data directory
      file:
        path: "{{ POSTGRES_DATA_LOCATION }}"
        state: directory
        owner: "{{ APP_USER }}" # postgres user from the postgres backup image
        group: "{{ APP_USER }}"
        mode: u=rwx,g=rwx,o=

    - name: Setting permissions of backup directory
      file:
        path: "{{ POSTGRES_BACKUP_LOCATION }}"
        state: directory
        owner: "{{ APP_USER }}" # postgres user from the postgres backup image
        group: restic
        mode: u=rwx,g=rx,o=

- name: Setup caddy reverse proxy
  tags: caddy
  hosts: all
  become: true
  vars_files:
    - ./variables.yml
  tasks:
    - name: Template reverse proxy caddy file
      template:
        src: caddyfile.j2
        dest: "/etc/caddy/sites/{{ APP_USER }}.caddyfile"
        owner: caddy
        group: caddy
        mode: u=r,g=r,o=

    - name: Restart Caddy service
      command: sudo caddy reload --config /etc/caddy/Caddyfile

- name: Configure backup paths
  tags: configure_backup
  hosts: all
  become: true
  vars_files:
    - ./variables.yml
  tasks:
    - name: Template backup locations file
      template:
        src: backup-locations.j2
        dest: "/etc/restic/backup-locations/{{ APP_USER }}"
        owner: restic
        group: restic
        mode: u=r,g=r,o=
